@import "./mixins";

// Animaciones de imágenes
.work-item-image {
  transition: clip-path 1s var(--custom-ease-in), transform 0.6s var(--custom-ease-out);
  clip-path: inset(100% 0% 0% 0%);
  transform: scale(1);

  &.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
    transform: scale(1);
  }
}

// Sección de efectos para las imágenes del header
.effects-section {
  .image-container {
    overflow: hidden;

    &:hover {
      .introduction-image {
        transform: scale(1.10);
      }
    }
  }

  .introduction-image {
    transition: transform 0.3s ease;
  }
}

.menu {
  transition: all 0.3s var(--custom-ease-in);
}
